<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.backrow">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AdminDisplayNotice" />
        <activity
            android:name=".AdminNoticeList"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>


        <activity android:name=".VideoActivity2_Admin" />
        <activity android:name=".VideoActivity1_Admin" />
        <activity android:name=".User_Option" />
        <activity android:name=".Quiz_opition" />
        <activity android:name=".ListQuiz" />
        <activity android:name=".addQuiz" />
        <activity android:name=".VideoActivity2_Admin" />
        <activity android:name=".VideoActivity1_Admin"></activity>
        <activity android:name=".VideoActivity2" />
        <activity android:name=".VideoActivity1">
            <intent-filter>
                <action android:name=".VideoActivity1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".noticePanel" />
        <activity android:name=".adminNoticeNavigation"></activity>
        <activity android:name=".addNotice" />
        <activity android:name=".listMarks" />

        <activity android:name=".listMarks" />
        <activity android:name=".displayNotice" />
        <activity android:name=".updatedeletemarks" />
        <activity android:name=".myquiz">
            <intent-filter>
                <action android:name=".myquiz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".studentquiz">
            <intent-filter>
                <action android:name=".studentquiz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".submitmarks">
            <intent-filter>
                <action android:name=".submitmarks" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".adminmarkingportal">
            <intent-filter>
                <action android:name=".adminmarkingportal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".navgation">
            <intent-filter>
                <action android:name=".navgation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dash">
            <intent-filter>
                <action android:name=".dash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>